body  {

    min-height: 100vh;
    box-sizing : border-box ;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
}

.section-container {


    box-sizing: border-box;
    min-height: 100vh;
    position:relative ;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:center ;

}


@media only screen  and(max-width: 640px) {
    .section-container {

        padding: 100px 0;
        


    }
    
}
