.about-page {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
 }

.about-main {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    /* text-align: center; */
    flex-wrap: wrap; 
    padding: 60px 80px 80px 80px;
    
}

.about-main-left 
.about-main-right{

    
    width: 50%;

}

.about-main-right {
    display: flex;
    justify-content: flex-end;
}

.about-main-left {

    display: flex
    ;
    justify-content: center;
    justify-items: center;
    flex-direction: column;

}

