.header-container{

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 60%; */
    /* align-self: center; */
    align-items: center;
    justify-content: center;
    
    

}

.header-container > h1 {

    font-size: 56px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 57px;
   

}


.header-container > p {

   
    font-style: normal;
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 10px 0;
    text-align: center;
     

}


@media  only screen and (max-width : 640px) {
    
        .header-container {

            width: 80%; 
            margin-top: 69px;
            margin-left: 20px;

        }

        .header-container > p {
            font-size: 1.2em;
            line-height: 1.2em;
            
        }

}